.App {
    margin: 30px 20%;
}

.circle {
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.circle-danger {
    background-color: red;

}

.circle-success {
    background-color: green;
}
.p15{padding: 15px;}
.mt5{margin-top: 5px;}
.tempratureCard {
    border: 1px solid gainsboro;
    text-align: center;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
}
.tempratureCardList {
    border: 1px solid gainsboro;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
}
.fs-7{font-size: x-small;}
.fs-8{font-size: xx-small;}